@media only screen and (max-width: 480px) {
  .section,
  .comp {
    flex-direction: column;
    width: 100%;
    .textdiv {
      width: 100%;
      text-align: center;
    }
    .imgdiv {
      width: 80%;
      margin-inline: auto;
    }
  }
  .kid1,
  .kid2 {
    display: none;
  }
}
